body {
  font-family: 'Inter', sans-serif !important;
  font-size: 14px;
  overflow-x: hidden;
  color: #000000 !important;
}

.tabbable .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.tabbable .nav-tabs .nav-link {
    white-space: nowrap;
}

.search-input {
    padding: 0.45rem 1rem !important;
}

.drop-section {
  border: 1px solid var(--bs-primary) !important;
}

@media (max-width: 480px) {
    .tabbable .nav-tabs::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
}

.white-bg {
  background: #ffff !important;
}

.display-tbl {
  display: table;
}

tbl-list-view .tbl-header {
  width: 100%;
  border-top: 1px solid #ececec;
  table-layout: fixed;
}

.tbl-list-view .tbl-body {
  display: block;
  width: 100%;
  table-layout: fixed;
  overflow: auto;
}

.tbl-list-view .tbl-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table> :not(caption)>*>* {
  padding: 0.7rem 0.7rem !important;
}

.table> :not(:first-child) {
  border-top: none !important;
}

.tbl-col {
  font-size: 13px !important;
}

/* scrollbar is average 1em/16px width, remove it from thead width */
/* .tbl-list-view thead {
  width: calc( 100% - 1em )
} */

.filter-dropdown {
  margin-top: 26px !important;
}

.button-drop-down {
  background: #fff !important;
  border: none !important;
  padding: 0px !important;
  margin-right: 4px !important;
}

/* Hide the scroll */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

.loaderDiv {
  text-align: center;
  margin: 12px;
}

.card {
  box-shadow: none !important;
}

.card-brand {
  box-shadow: 0 2px 3px rgb(31 41 55 / 4%) !important;
  border: 1px solid #e9ebf2 !important;
  border-radius: 10px !important;
}

.note-card:hover, .call-card:hover,
.task-card:hover, .meeting-card:hover {
  border: 1px solid var(--bs-primary) !important;
  box-shadow: 0 2px 3px rgb(31 41 55 / 4%) !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.bg-light-success {
  border: 1px solid rgba(45, 193, 138, .34901960784313724) !important;
  border-radius: 10px;
  color: #26a075 !important;
  background: #ecfcf5 !important;
}

.bg-light-warning {
  border: 1px solid #fbd39c !important;
  border-radius: 10px;
  color: #d48e3d !important;
  background: #fffbf7 !important;
}

.bg-light-danger {
  border: 1px solid #fdc3d2 !important;
  border-radius: 10px;
  color: #fb718d !important;
  background: #fefbf9 !important;
}

/* Side bar */
.menu-shadow {
  box-shadow: 0 0 5px rgb(31 41 55 / 30%) !important;
}

.module-title {
  color: #353E4D !important;
  font-weight: 500 !important;
}

.menu-title {
  font-size: 1rem !important;
}

.navbar-brand {
  margin-left: 6px;
}

.iconMenu {
  padding: 8px 0px;
}

.iconMenu a {
  padding: 8px 0px;
  background: #fff;
  box-shadow: 0 2px 4px rgb(31 41 55 / 16%);
  border: 1px solid #fff;
  border-radius: 14px;
  color: #eeefef;
  padding: 8px;
  cursor: pointer;
}

.iconMenu a:hover {
  color: var(--bs-primary) !important;
  border: 1px solid #8ec3f8;
  background-color: #D9EBFD !important;
}

.iconMenu a:hover * {
  color: var(--bs-primary) !important;
  background-color: #D9EBFD !important;
}

.iconMenu .active {
  background-color: #D9EBFD !important;
  color: var(--bs-primary) !important;
  border: 1px solid #8ec3f8;
  outline: 4px solid #ecf5fe;
}

a.d-flex.align-items-center.active svg {
  color: var(--bs-primary) !important;
}

.detail-label {
  color: var(--bs-gray-500) !important;
  font-size: 12px !important;
  margin-bottom: 2px !important;
}

/* Dashboard */
.recharts-custom-tooltip {
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  color: #000;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.required::after {
  content: ' *';
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.received-msg {
  background: #e9f0f8 !important;
  border: 1px solid #c4c4c4 !important;
}

.invalid-select-message {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.857rem;
  color: #ea4458;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 214, 214); 
}

.form-check-input {
  appearance: auto !important;
}