
.card-brand {
    box-shadow: 0 2px 3px rgb(31 41 55 / 4%) !important;
    border: 1px solid #e9ebf2 !important;
    border-radius: 10px !important;
  }

  .loaderDiv {
    text-align: center;
    margin: 12px;
  }
  .tbl-col {
    font-size: 13px !important;
  }

  .tbl-list-view .tbl-body {
    display: block;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
  }
  .tbl-list-view .tbl-row {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .required::after {
    content: ' *';
    color: red;
  }